<div class="blog-sb-widget multishopcategories_widget">
    <h3 class="widgettitle">Categorias</h3>
    <div class="section-sb-current">
        <ul class="section-sb-list">
            <li>
                {% for category in categories %}
                <a href="{% url 'app_home:filter_products_by_category' category.id %}">
                    <span class="section-sb-label"> {{ category.name }}</span>
                    <span class="count"> {{ category.product_set.count }}</span> 
                </a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>